* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

    list-style-type: none;
    text-decoration: none;
}


:root{
    --color_text1: #EEEEEE
}
html {
    scroll-behavior: smooth;
}
.Nav-Bar{
    
    flex-direction: column;
    height: 450px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../multimedia/xhero.jpg");
    align-content: space-around;
}

.List-Element-Nav ul{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    align-self: flex-end;
    font-weight: bold;
    align-self: center;
    font-size: 30px;
    
}

